<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://codepen.io/skjha5993/pen/bXqWpR.css">
    <title>Prediction</title>
    <style>
        label {
            font-weight: 600;
            color: #000000;
        }
        body {
            background: #19092d;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="  " method="POST">
            <h2 class="text-center text-white"><br></h2>
        <div class="row jumbotron bg-dark">
            <div class="col-sm-12 form-group">
                <h1 class="text-center text-white">Let's Predict!</h1>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="text"> Age: </label>
				<input type="text" class="form-control" name="age" required>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="sex"> Sex: </label>
				<select name="sex" class="form-control custom-select browser-default">
					<option value="1">Male</option>
					<option value="0">Female</option>
				</select>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="cp"> Chest pain type: </label>
				<select name="cp" class="form-control custom-select browser-default">
					<option value="1">Typical angina</option>
					<option value="2">Atypical angina</option>
					<option value="3">Non-anginal pain</option>
					<option value="4">Asymptomatic</option>
				</select>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="trestbps"> Resting Blood Sugar: </label>
				<input type="text" class="form-control" name="trestbps" required>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="chol">Cholestoral in mg/dl: </label>
				<input type="text" class="form-control" name="chol" required>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="fbs"> Fasting Blood Sugar higher than 120 mg/dl: </label>
				<select name="fbs" class="form-control custom-select browser-default">
					<option value="1">True</option>
					<option value="0">False</option>
				</select>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="restecg"> Resting Electrocardiographic Results: </label>
				<select name="restecg" class="form-control custom-select browser-default">
					<option value="0">Normal</option>
					<option value="1">ST-T Wave abnormality</option>
					<option value="2">
						Probable or definite left ventricular hypertrophy
					</option>
				</select>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for=""> Maximum Heart Rate Achieved: </label>
				<input type="text" class="form-control" name="mhr" required>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="exang"> Exercise Induced Angina: </label>
				<select name="exang" class="form-control custom-select browser-default">
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for=""> ST depression: </label>
				<input type="text" class="form-control" name="stdep" required>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="slope"> Heart Rate Slope: </label>
				<select name="slope" class="form-control custom-select browser-default">
					<option value="0">Upsloping</option>
					<option value="1">Flatsloping</option>
					<option value="2">Downsloping</option>
				</select>
            </div>
            <div class="col-sm-6 form-group">
                <label class="text-white" for="vessels"> Number of Major Vessels Colored by Flourosopy: </label>
				<input type="text" class="form-control" name="vessels" required>
            </div>
            <div class="col-sm-12 form-group">
                <label class="text-white" for="thal"> Thalium Stress Result: </label>
				<select name="thal" class="form-control custom-select browser-default">
					<option value="3">Normal</option>
					<option value="6">Fixed defect</option>
					<option value="7">Reversable defect</option>
				</select>
            </div>		
            <div class="col-sm-12 form-group mb-0">
                <button type="submit" id="sumbitBtn" class="btn btn-primary btn-lg float-right" value="Predict">Predict</button>
            </div>           
        </div>
        </form>
        <br>
        <br>
        <h3>{{ prediction_text }}</h3>
        <br>
        <br>
    </div>
</body>
</html>